*{
    font-family: 'Crimson Text', serif;
}
body{
    background-color: #144272;
}
#loading-img{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card{
    width: 15rem;
    margin: 2em;
    background-color: #2C74B3;
    color: white;
    box-shadow: 5px 10px #0A2647;
}

.inputAlign{
    text-align: center;
}

#new-movie-form{
    width: 30rem;
    height: 10rem;
    justify-content: center;

}
.my-btn-delete{
    background-color: #0A2647;
    border: #0A2647;
    /*margin:;*/
}

.my-btn-edit{
    margin-left: 50%;
    background-color: #0A2647;
    border: #0A2647;
}

.card-title{
    text-align: center;
    font-weight: bold;
}
ul{
    list-style: none;
}
.heading{
    background-color: #0A2647;
    padding-bottom: 1rem;
    color: white;
}

.wholeForm{
    color: white;
    position: sticky;
    top: 6em;
}

.submitButton{
    background-color: #2C74B3;
    border: #2C74B3;
    color: white;
}
img{
    padding-top: 1em;
}
#search-container{
    width: 20em;
}

#modal{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}